<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <ApplicationRevision>2</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net10.0-windows7.0\win-x64\app.publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net10.0-windows7.0</TargetFramework>
    <UpdateEnabled>False</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
  </PropertyGroup>
  <ItemGroup>
    <PublishFile Include="es-AR\ImmersionToProjection.resources">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Exclude</PublishState>
      <IncludeHash>false</IncludeHash>
      <FileType>Satellite</FileType>
    </PublishFile>
    <PublishFile Include="itext.barcodes">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Exclude</PublishState>
      <IncludeHash>false</IncludeHash>
      <FileType>Assembly</FileType>
    </PublishFile>
    <PublishFile Include="itext.bouncy-castle-connector">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Exclude</PublishState>
      <IncludeHash>false</IncludeHash>
      <FileType>Assembly</FileType>
    </PublishFile>
    <PublishFile Include="itext.commons">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Exclude</PublishState>
      <IncludeHash>false</IncludeHash>
      <FileType>Assembly</FileType>
    </PublishFile>
    <PublishFile Include="itext.forms">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Exclude</PublishState>
      <IncludeHash>false</IncludeHash>
      <FileType>Assembly</FileType>
    </PublishFile>
    <PublishFile Include="itext.io">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Exclude</PublishState>
      <IncludeHash>false</IncludeHash>
      <FileType>Assembly</FileType>
    </PublishFile>
    <PublishFile Include="itext.kernel">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Exclude</PublishState>
      <IncludeHash>false</IncludeHash>
      <FileType>Assembly</FileType>
    </PublishFile>
    <PublishFile Include="itext.layout">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Exclude</PublishState>
      <IncludeHash>false</IncludeHash>
      <FileType>Assembly</FileType>
    </PublishFile>
    <PublishFile Include="itext.pdfa">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Exclude</PublishState>
      <IncludeHash>false</IncludeHash>
      <FileType>Assembly</FileType>
    </PublishFile>
    <PublishFile Include="itext.pdfua">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Exclude</PublishState>
      <IncludeHash>false</IncludeHash>
      <FileType>Assembly</FileType>
    </PublishFile>
    <PublishFile Include="itext.sign">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Exclude</PublishState>
      <IncludeHash>false</IncludeHash>
      <FileType>Assembly</FileType>
    </PublishFile>
    <PublishFile Include="itext.styledxmlparser">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Exclude</PublishState>
      <IncludeHash>false</IncludeHash>
      <FileType>Assembly</FileType>
    </PublishFile>
    <PublishFile Include="itext.svg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Exclude</PublishState>
      <IncludeHash>false</IncludeHash>
      <FileType>Assembly</FileType>
    </PublishFile>
  </ItemGroup>
</Project>